<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <!-- CONTAINER WITH GRADIENT -->
            <div class="container align-center flex">
                <!-- CONTAINER CARD -->
                <div class="container-card flex">
                    <!-- COL LEFT CARD-->
                    <div class="col-4-card">
                        <!-- CONTENT USER -->
                        <div class="content-user w-100 flex align-center background-grey">
                            <div class="img-user flex align-center">
                                <img src="./img/avatar_io.jpg" alt="io">
                                <span>Sofia</span>
                            </div>
                            <div class="icon-user">
                                <span><a href="#"><i class="fa-solid fa-circle-notch"></i></a></span>
                                <span><a href="#"><i class="fa-solid fa-message"></i></a></span>
                                <span><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></span>
                            </div>  
                        </div>
                        <!-- CONTENT NOTIFICATION -->
                        <div class="content-notifications w-100 flex align-center background-lightblue">
                            <div class="icon-notification">
                                <span><i class="fa-solid fa-bell-slash"></i></span>
                            </div>
                            <div class="text-notification">
                                <p>Ricevi notifiche di nuovi messaggi</p> 
                                <p><a href="#">Attiva notifiche desktop</a></p>
                            </div>
                        </div>
                        <!-- CONTENT SEARCH BAR -->
                        <div class="content-searchbar flex align-center w-100">
                            <div class="search-bar">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                        <div class="content-contacts w-100">
                            <div class="contact flex" v-for="(contact, index) in contacts" @click="changeContact(index)">
                                <div class="img-contact flex align-center">
                                    <img :src="`./img/avatar${contact.avatar}.jpg`" :alt="`avatar${contact.avatar}`">
                                    <div class="desc-contact">
                                        <h3>{{ contact.name }}</h3>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                                <div class="hour">
                                    <span>12:00</span>
                                </div>
                            </div>    
                        </div>
                    </div>
                    
                    <!-- COL RIGHT CARD -->
                    <div class="col-6-card">
                        <!-- CONTENT ACTIVE CONTACT -->
                        <div class="content-active-contact w-100 flex align-center background-grey">
                            <div class="img-contact-active flex align-center">
                                <img :src="`./img/avatar${contacts[activeContact].avatar}.jpg`" alt="avatar1">
                                <div class="desc-contact">
                                    <h3>{{contacts[activeContact].name}}</h3>
                                    <p>Ultimo accesso oggi alle 12.00</p>
                                </div>
                            </div>
                            <div class="icon-user">
                                <span><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></span>
                                <span><a href="#"><i class="fa-solid fa-paperclip"></i></a></span>
                                <span><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></span>
                            </div>  
                        </div>
                        <!-- CONTAINER MESSAGE -->
                        <div class="container-message flex">
                            <div class="content-message ">
                                <div class=" w-100 flex" v-for="curentmessage in contacts[activeContact].messages" :class="(curentmessage.status === 'received') ? 'row-message-received' : 'row-message-sent'">
                                    <div :class="(curentmessage.status === 'received') ? 'received' : 'sent' "class="message">
                                        <div class="text-message">
                                            <p>{{curentmessage.message}}</p>
                                        </div>
                                        <div class="hour-message">
                                            <span>15:30</span>
                                        </div>
                                        
                                    </div>
                                </div>          
                            </div>
                        </div>
                        <!--  -->
                        <div class="content-input-message w-100 flex ">
                            <span><a href=""><i class="fa-regular fa-face-smile"></i></a></span>
                            <input type="text" class="input-message" placeholder=" Scrivi un messaggio">
                            <span><a href=""><i class="fa-solid fa-microphone"></i></a></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="./js/main.js"></script>
    </body>
</html>